/* UNIVERSAL STYLES */
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Cabin', sans-serif;
    background-color: #F1FAEE;
    font-size: 16px;
}

/* FONTS */

h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 96px;
    font-weight: 900;
    letter-spacing: 2px;
    margin-bottom: 32px;
}

h2 {
    font-size: 48px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 64px;
}

h3 {
    font-size: 32px;
    font-weight: 500;
}

p {
    font-size: 16px;
    font-weight: 400;
}

a {
    text-decoration: none;
}

.regular {
    font-style: normal;
}

.strong {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

/* FONTS - MOBILE */

@media only screen and (max-width: 768px) {

    h1 {
        font-size: 64px;
        letter-spacing: normal;
    }

    h2 {
        font-size: 32px;
        margin-bottom: 32px;
    }

    h3 {
        font-size: 24px;
    }

}

/* HEADER SECTION */

header {
    position: fixed;
    z-index: 10;
    height: 70px;
    background-color: #A8DADC;
    width: 100%;
    text-align: center;
    padding: 16px;
}

.navigation ul li {
    display: inline-block;
    margin: 0 24px;
    padding: 8px 0 10px 0;
    font-size: 14px;
    border-top: 2px solid transparent;
}

.navigation ul li:hover {
  border-top: 2px solid #E63946;
  transition: all .75s;
}

.navigation ul li a {
    color: #000000;
    letter-spacing: 2px;
}

.menu-button,
.close-button {
    display: none;
}

/* HEADER SECTION - MOBILE */

@media only screen and (max-width: 768px) {

    header {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .navigation {
        position: fixed;
        top: 0;
        right: -100%;
        background-color: #ffffff;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2;
        transition: all .5s;
    }

    .navigation.active {
        right: 0;
    }

    .navigation ul li {
        display: block;
        border: none;
        padding: 32px;
        margin: 0;
    }

    .navigation ul li:hover {
        border: none;
    }

    .menu-button {
        display: block;
        margin-right: 8px;
    }

    .menu-button.active {
        display: none;
    }

    .close-button.active {
        z-index: 10;
        display: block;
        margin-right: 8px;
    }

}

/* MAIN SECTION */

main {
    margin: 0 15%;
}

/* MAIN SECTION - MOBILE */

@media only screen and (max-width: 768px) {

    main {
        margin: 0 5%;
    }
    
}

/* BANNER SECTION */

.banner {
    max-width: 500px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner span {
    color: #E63946;
}

.banner-text {
    margin: 32px 0;
}

/* BANNER SECTION - MOBILE */

@media only screen and (max-width: 768px) {

    .banner {
        max-width: 350px;
    }

}

/* BORDER TOP COLOR */

.border-color-top {
    display: flex;
    background-color: #E63946;
    height: 8px;
    width: 64px;
}

/* BORDER TOP COLOR - MOBILE */

@media only screen and (max-width: 768px) {

    .border-color-top {
        width: 48px;
    }

}

/* COLOR SECTION */

.color {
    padding: 134px 0 64px 0;
}

.color-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px;
    height: 96px;
    border-radius: 24px;
}

.imperial-red {
    background-color: #E63946;
}

.honeydew {
    background-color: #F1FAEE;
    border: 1px solid #000000;
}

.powder-blue {
    background-color: #A8DADC;
}

.celadon-blue {
    background-color: #457B9D;
    color: #ffffff;
}

.prussian-blue {
    background-color: #1D3557;
    color: #ffffff;
}

/* COLOR SECTION - MOBILE */

@media only screen and (max-width: 768px) {

    .color {
        padding-top: 102px;
        padding-bottom: 32px;
    }
    
    .color-block {
        height: 80px;
    }

}

/* BUTTON SECTION */

.button {
    padding: 134px 0 48px 0;
}

.button h2 {
    margin-bottom: 48px;
}

.button-container {
    text-align: center;
}

.button-style {
    border: none;
    color: white;
    font-size: 16px;
    height: 64px;
    width: 256px;
    margin: 16px;
    border-radius: 24px;
    cursor: pointer;
    outline: none;
}

.button1 {
    background-color: #1D3557;
    cursor: default;
}

.button2 {
    background-color: #457B9D;
}

.button3 {
    background-color: #A8DADC;
    color: black;
}

.button4 {
    background-color: #A9A9A9;
    cursor: not-allowed;
}

/* BUTTON SECTION - MOBILE */

@media only screen and (max-width: 768px) {

    .button {
        padding: 102px 0 16px 0;
    }

    .button h2 {
        margin-bottom: 16px;
    }

    .button-style {
        height: 64px;
        width: 192px;
    }

}

/* FONT SECTION */

.font {
    padding: 134px 0 32px 0;
}

.font h2 {
    margin-bottom: 32px;
}

.font-container {
    text-align: center;
}

.font-block {
    display: inline-block;
    overflow: auto;
    padding: 32px 64px;
}

.roboto a {
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    color: #000000;
}

.cabin a {
    font-size: 32px;
    color: #000000;
}

.roboto a:hover,
.cabin a:hover {
    color: #E63946;
}

.roboto p {
    font-family: 'Roboto', sans-serif;
    padding-top: 16px;
}

.cabin p {
    padding-top: 16px;
}

/* FONT SECTION - MOBILE */

@media only screen and (max-width: 768px) {

    .font {
        padding-top: 102px;
        padding-bottom: 0;
    }

    .font-block {
        padding: 0 64px 32px 64px;
    }

    .roboto a,
    .cabin a {
        font-size: 24px;
    }

}

/* TEXT STYLE SECTION */

.text-style {
    padding-top: 134px;
}

.text-style h1 {
    letter-spacing: normal;
    margin-bottom: 16px;
}

.text-style h2.heading-text {
    margin-bottom: 16px;
}

.text-style h3.subheading-text {
    margin-bottom: 16px;
}

.text-style p {
    margin-bottom: 16px;
}

.text-style-breakdown {
    padding-bottom: 64px;
}

.text-style ul {
    list-style-type: none;
}

.text-style li {
    padding-top: 16px;
}

/* TEXT STYLE SECTION - MOBILE */

@media only screen and (max-width: 768px) {

    .text-style {
        padding-top: 102px;
    }
    .text-style-breakdown {
        padding-bottom: 32px;
    }

}

/* FOOTER SECTION */

footer {
    color: #000000;
    text-align: center;
    padding: 24px;
}

footer p {
    font-size: 14px;
}